[user]
	name = iliana etaoin
	email = iliana@buttslol.net
[core]
	excludesfile = ~/.config/gitignore
	hooksPath = ~/.config/dotfiles/hooks
[commit]
	verbose = true
[pull]
	rebase = true
[init]
	defaultBranch = main
[rebase]
	autosquash = true
[rerere]
	enabled = true
[includeIf "gitdir:~/.dotfiles.git"]
	path = ~/.config/dotfiles/.gitconfig
[url "git@github.com:"]
	insteadOf = https://github.com/
