[submodule ".vim/pack/iliana/start/sensible"]
	path = .vim/pack/iliana/start/sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule ".vim/pack/iliana/opt/sleuth"]
	path = .vim/pack/iliana/opt/sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule ".vim/pack/iliana/opt/catppuccin"]
	path = .vim/pack/iliana/start/catppuccin
	url = https://github.com/catppuccin/vim
