[user]
	name = iliana etaoin
	email = iliana@buttslol.net
[core]
	excludesfile = ~/.config/gitignore
[commit]
	verbose = true
	cleanup = scissors
[pull]
	rebase = true
[init]
	defaultBranch = main
[rebase]
	autosquash = true
	autostash = true
[rerere]
	enabled = true
[url "git@github.com:"]
	pushInsteadOf = https://github.com/
[url "hydrangea.cat-herring.ts.net:/git/"]
	pushInsteadOf = https://git.iliana.fyi/
[includeIf "hasconfig:remote.*.url:https://github.com/oxidecomputer/**"]
	path = ~/.config/dotfiles/gitconfig-oxide
[includeIf "hasconfig:remote.*.url:git@github.com:oxidecomputer/**"]
	path = ~/.config/dotfiles/gitconfig-oxide
[diff]
	algorithm = histogram
[transfer]
	fsckobjects = true
[fetch]
	fsckobjects = true
[receive]
	fsckobjects = true
[merge]
	conflictstyle = zdiff3
